<h1>The most typed worlds</h1>

<table class="table table-bordered">
  <tr>
    <th>Word typed</th>
    <th>Count number</th>
  </tr>
  <% @analytics.each do |a| %>
    <tr>
      <td><%= a.word %></td>
      <td><%= a.count %></td>
    </tr>
  <% end %>

  <% # Add link to the root path %>

</table>
<%= link_to "Back to search page", root_path %>

<p>Next time we will post here how users formulate their search</p>

